{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include 'navigation/navbar.html.twig' %}
    <div class="homepage">
        <div class="center-container">
            <div class="add-new-post">
                <a href="{{ path('post_new') }}"><button>Publier un post</button></a>
            </div>
            {% for post in posts %}
                <div class="single-post">
                    <div class="content-post">
                        <h3>{{ post.author.email }}</h3>
                        <p>{{ post.content }}</p>
                    </div>
                    <div class="footer-post">
                        <p>120 commentaires</p>
                        <a href="">Commenter</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="side-container">
            <div class="top-users">
                <h3>Top utilisateurs</h3>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
